@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工作台</title>
</head>
<body>
    <div>
        这是工作台
    </div>
</body>
</html>
