@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joke</title>
</head>
<body>
    <div>
        <h1>
         兄弟，不要乱跳啊！！！
        </h1>
    </div>
</body>
</html>
